@page "/weatherobservation"

<style>
    th, td {
        border: 1px solid black;
    }
</style>

<section>
    <div class="section__inner">
        <h1>Closest Weather Station (Given Location)</h1>
        <table>
            <tr>
                <th>Weather Station</th>
                <th>Given Location</th>
            </tr>
            <tr>
                <td>@stationId</td>
                <td>@stationName</td>
            </tr>
        </table>
        <br />
        <h1>Historical Weather Observations (Closest Weather Station)</h1>
            <table>
                <tr>
                    <th>Station</th>
                    <th>Timestamp</th>
                </tr>
                <tr>
                    <td>@station</td>
                    <td>@timestamp</td>
                </tr>
            </table>
        <h1>Max Temp / Min Temp Observations</h1>
        <table>
            <tr>
                <th>Max Temp Unit Code</th>
                <th>Max Temp Value</th>
            </tr>
            <tr>
                <td>@unitCode</td>
                <td>@value</td>
            </tr>
        </table>
    </div>
</section>


