@page "/weatherobservation"

@* <h3>Weather Observation</h3> *@
<style>
    th, td {
        border: 1px solid black;
    }
</style>

<section>
    <div class="section__inner">
        <h1>Closest Weather Station (Given Location)</h1>
        <table>
            <tr>
                <th>Weather Station</th>
                <th>Given Location</th>
            </tr>
            <tr>
                <td>@stationId</td>
                <td>@stationName</td>
            </tr>
        </table>
        <br />
        <h1>Historical Weather Observations (Closest Weather Station)</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Station</th>
                <th>Timestamp</th>
            </tr>
            <tr>
                <td>@histStationId</td>
                <td>@histStationType</td>
                <td>@station</td>
                <td>@timestamp</td>
            </tr>
        </table>
    </div>
</section>


